# Configuración del Broker RabbitMQ
RABBITMQ_DEFAULT_USER=tu_usuario_aqui
RABBITMQ_DEFAULT_PASS="tu_password_aqui"

# Credenciales de los microservicios Python
RABBIT_USER=tu_usuario_aqui
RABBIT_PASS="tu_password_aqui"
RABBIT_HOST=rabbitmq

API_SECRET_KEY="tu_api_key_generada_aqui"